@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  min-height: 100svh;
  font-family: "Work-san", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
